#homepage header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    padding-top: 40px;
}
#homepage header > h1{
    font-size: 2.667rem;
}
#homepage header > img{
    height: 48px;
}
.articles {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 65px;
    gap: 0 24px;
}
.articles article {
    width: 345px;
    display: flex;
    flex-direction: column;
    gap: 19px 0;
}
.articles article:not(:nth-child(2)) {
    margin-top: 40px;
}
.articles article h2 {
    font-size: 32px;
}
.articles article a {
    color: var(--light-text);
}
@media (max-width: 768px) {
    .articles {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    #homepage header > h1{
        font-size: 1.4rem;
    }
    #homepage header > img{
        height: 40px;
    }
}