@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
:root {
  --primary: #003c00;
  --font: 'Exo 2', sans-serif;
  --light-text: #fff;
  --dark-text: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  font-family: var(--font);
  color: var(--dark-text);
  text-indent: 0;
  word-spacing: normal;
  line-height: normal;
  letter-spacing: normal;
}
a {
  text-decoration: none;
}
h1, h2, h3 {
  color: var(--primary);
}
nav.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background: var(--primary);
  z-index: 99;
}
nav.top-nav > img {
  display: block;
  position: absolute;
  top: 7px;
  left: 50%;
  height: 64px;
  width: 300px;
  transform: translateX(-50%);
}
nav.top-nav > ul {
  position: absolute;
  top: 64px;
  list-style: none;
  width: 300px;
  transition: all 0.2s;
  transform: translateX(-100%);
}
nav.top-nav > ul.open {
  transform: translateX(0%);
}
nav.top-nav > ul > li {
  padding: 2% 24px;
  width: 100%;
  background: var(--primary);
  transition: all 0.2s;
}
nav.top-nav > ul > li > a {
  color: var(--light-text);
  font-size: 18px;
  width: 100%;
  display: block;
}

nav > .hamburger-menu {
  width: 48px;
  height: 24px;
  margin: 24px 24px;
  cursor: pointer;
  background: none;
  border: none;
}
.hamburger-menu > .hamburger-menu-lines {
  background: #fff;
  height: 4px;
  width: 48px;
  position: relative;
  display: block;
}
.hamburger-menu > .hamburger-menu-lines::before {
  background: #fff;
  height: 4px;
  width: 48px;
  content: ' ';
  display: block;
  position: relative;
  top: -17px;
}
.hamburger-menu > .hamburger-menu-lines::after {
  background: #fff;
  height: 4px;
  width: 48px;
  content: ' ';
  display: block;
  position: relative;
  top: 13px;
}
/* TODO check out if main can have the margin */
main {
  margin-top: 75px;
}
footer {
  display: flex;
  flex-direction: column;
  background: var(--primary);
  color: #fff;
  padding-top: 10px;
}
footer a {
  text-decoration: underline;
  color: #fff;
}
footer ul {
  list-style: none;
}
footer li, footer > section:nth-child(4) > a {
  padding: 3px 0;
}
footer > section:nth-child(2) {
  order: -1;
  display: flex;
  justify-content: center;
  margin: 0 24px;
}
footer section:not(:nth-child(2)) {
  margin: 0 24px;
  padding: 10px 0;
}
footer section:last-child {
  text-align: center;
}
button {
  border-radius: 100px;
  background: #006400;
  border-width: 0;
  padding: 11px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}