#supplies {
    margin: 75px auto 0;
    width: 710px;
}
#supplies > article, #supplies > section {
    margin: 25px 0;
}
#supplies h2 {
    font-size: 28px;
    margin-bottom: 6px;
}
#supplies section > img {
    width: 250px;
    aspect-ratio: 1/1;
}
#supplies section {
    display: flex;
    justify-content: space-between;
}
#supplies .small {
    width: 345px;
}
#supplies ul {
    width: 250px;
    padding-left: 16px;
}
@media (max-width: 768px) {
    #supplies {
        width: 304px;
    }
    #supplies .small {
        width: 304px;
    }
    #supplies section {
        display: flex;
        flex-direction: column;
        gap: 20px 0;
    }
}